$blue: #4a55f2;
$coral: #fb7155;
$green: #00c1a6;
$purple: #5c63ff;
$red: #f90847;
$sunrise: #fcaf60;
$sunset: #ff9959;

$gray-darkest: #18181a;
$gray-medium: #3f464f;
$gray: #8b96a6;
$gray-light: #c7ced4;
$gray-lighter: #e7ecf0;
$off-white: #f7f8f9;
$white: #ffffff;
